.App {
  background-color: #A93639;
}

#root {
  width: 100vw;
  height: 100vh;
}
/* header */

.nav-link:hover,
.nav-link:focus,
.nav-link:active, 
.dropdown-toggle:active, 
.dropdown-toggle:hover,
.dropdown-toggle:focus  {
  color: #FFDFB2 !important;
}

.Nav, .Header {
  display: flex;
  width: 100vw;
}