.App {
  background-color: #A93639;
}

#root {
  width: 100vw;
  height: 100vh;
}
/* header */

.nav-link:hover,
.nav-link:focus,
.nav-link:active, 
.dropdown-toggle:active, 
.dropdown-toggle:hover,
.dropdown-toggle:focus  {
  color: #FFDFB2 !important;
}

.nav-link {
  background-color: #C15740;
  padding: 10px 20px;
  border-radius: 10px;
}
.Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Header {
  margin-top: 2em;
  margin-bottom: 2em;
}


.pagetitle {
  background-color: #C15740;
  padding: 40px 10px;
  border-radius: 30px;

}
.PageTitle {
  font-size: 3.5em;
  font-family: 'Bangers', sans-serif;
}

/* home */

.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popevents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70%;
  gap: 15px;
}

.homepic {
  width: 222px;
  height: 222px;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 3px 2px 7px rgba(0, 0, 0, 0.193);
  filter: brightness(90%) contrast(110%) saturate(120%) sepia(10%) hue-rotate(-10deg);
  transition: transform 0.6s, filter 0.3s, box-shadow 0.3s;
  position: relative;
}


@keyframes shrinkGrow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.02);

  }
}

.homepic:hover {
  animation: shrinkGrow 0.6s ease-in-out forwards;
  filter: brightness(100%) contrast(90%) saturate(150%) sepia(0%) hue-rotate(0deg);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.homepic:hover::after {
  opacity: 1;
}
.artistname {
  font-size: 1.4em;
  word-wrap: normal;
  width: 200px;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.368);
  position: absolute;
  margin-top: 10em;
}

.contenthome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.popularconcerts {
  margin-top: 30px;
  margin-right: 60%;
  margin-bottom: 30px;
}

.conttext {
  font-size: 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.upeventcont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom:30px;
  background-color: #C15740;
  padding: 5px 15em;
  border-radius: 30px;
  cursor: pointer;
  transition: all .3s ease;
}

.upeventcont:hover{
  transform: rotate(2deg);
  background-color: #CE6C46;
}

.upcomingeventss {
  margin-bottom: 1em;
  margin-left: 66.36%;
  max-width: 1000px;
}

.popconc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
}

/* Footer */

.Footer {
  display: flex;
  justify-content: space-around;
  font-size: 13px;
}