.App {
  background-color: #A93639;
  min-height: 70vh;
}

#root {
  width: 100vw;
  height: 100vh;
}

.Main {
  flex: 1;
}

.Main {
  min-height:70vh;
}
/* header */

.nav-link:hover,
.nav-link:focus,
.nav-link:active, 
.dropdown-toggle:active, 
.dropdown-toggle:hover,
.dropdown-toggle:focus  {
  color: #FFDFB2 !important;
}

.nav-link {
  background-color: #C15740;
  padding: 10px 20px;
  border-radius: 10px;
}
.Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Header {
  margin-top: 2em;
  margin-bottom: 2em;
}


.pagetitle {
  background-color: #C15740;
  padding: 40px 10px;
  border-radius: 30px;

}
.PageTitle {
  font-size: 3.5em;
  font-family: 'Bangers', sans-serif;
}

/* home */

.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popevents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70%;
  gap: 15px;
}

.homepic {
  width: 222px;
  height: 222px;
  object-fit: cover;
  border-radius: 30px;
  filter: brightness(90%) contrast(110%) saturate(120%) sepia(10%) hue-rotate(-10deg);
  transition: transform 0.6s, filter 0.3s, box-shadow 0.3s;
  position: relative;
}


@keyframes shrinkGrow {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(0.9) rotate(-5deg);
  }
  70% {
    transform: rotate(5deg);
  } 
  100% {
    transform: scale(1.02) rotate(0deg);
  }
}
.homepic:hover {
  animation: shrinkGrow 0.6s ease-in-out forwards;
  filter: brightness(100%) contrast(90%) saturate(150%) sepia(0%) hue-rotate(0deg);
}

.homepic:hover::after {
  opacity: 1;
}
.artistname {
  font-size: 1.4em;
  word-wrap: normal;
  width: 200px;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.368);
  position: absolute;
  margin-top: 10em;
}

.contenthome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.popularconcerts {
  margin-top: 30px;
  margin-right: 60%;
  margin-bottom: 30px;
}

.conttext {
  font-size: 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.upeventcont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom:30px;
  background-color: #C15740;
  padding: 5px 15em;
  border-radius: 30px;
  cursor: pointer;
  transition: all .3s ease;
}

.upeventcont:hover{
  transform: rotate(2deg);
  background-color: #CE6C46;
}

.upcomingeventss {
  margin-bottom: 1em;
  margin-left: 66.36%;
  max-width: 1000px;
}
.upevents {
  margin-bottom: 2em;
}
.popconc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
}

/* Footer */

.Footer {
  display: flex;
  justify-content: space-around;
  font-size: 13px;
  bottom: 0;
}

.footerlink {
  transition: .9s ease all;
}

.footerlink:hover{
  color:#E69951;
}

/* eventlist */

.Eventlist {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px; 
  margin: 0 auto; 
}

.eventlistcontent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.eventlistinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%; 
  margin-bottom: 20px;
  transition: transform 0.3s, box-shadow 0.3s, filter 0.3s; 
}

.eventlistinfo:hover {
  transform: scale(1.05); 
  filter: brightness(1.1);
  animation: shrinkGrow 0.6s ease-in-out forwards;
  filter: brightness(100%) contrast(90%) saturate(150%) sepia(0%) hue-rotate(0deg);
}

.eventlistimage {
  width: 250px;
  height: 170px;
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(90%) contrast(110%) saturate(120%) sepia(10%) hue-rotate(-10deg);
}

.eventlistname {
  margin-top: 10px;
  text-align: center;
}

.comingsoon {
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 70%;
}

/* artist page */

.Artist {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 6em;
}

.artistpageimg {
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 30px;
}

.nameimggenre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%;
  margin-bottom: 7em;
}

.nameimggenreinfo {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  max-width: 1200px;
  gap: 80px; 
  text-align: center;
}

.banddesctext {
  margin-bottom: 2rex;
  font-size: 18px;
  text-align: center;
}

.upcomingartist {
  margin-top: .5em;
  margin-bottom: -1.9em;
  z-index: 3;
  position: relative;
  text-shadow: 2px 2px 2px black;
}

.artistinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.eventartistinfo {
  margin-bottom: 10px;
  text-align: center;
}

.thirdbit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cominup {
  margin-top: .1em;
  text-align: center;
}

.eventname {
  margin-bottom: 1em;
}

.eventartistinfo {
  position: relative; 
}

.eventimgartist {
  width: 600px;
  height: 300px;
  object-fit: cover;
  margin-top: 50px;
  border-radius: 30px;
  filter: sepia(100%);
  z-index: 0;
}

.eventnameartist, .eventdateartist {
  font-size: 2em;
  text-shadow: 2px 2px 2px black;
  position: absolute;
  text-align: center;
  z-index: 1;
  width: 100%;
  transform: translateY(-50%); 
  left: 0; 
}

.eventnameartist {
  margin-top: -200px;
  margin-bottom: -20px;
}

.eventdateartist {
  margin-top: -160px;
}


@keyframes pulseSpin {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.1) rotate(10deg);
  }
  100% {
    transform: scale(1.2) rotate(-10deg);
  }
}

.eventnameartist, .eventdateartist {
  transform: scale(1) rotate(0deg); 
  transition: transform 0.6s ease-in-out; 
}

.cominup:hover .eventnameartist,
.cominup:hover .eventdateartist {
  animation: pulseSpin 0.6s ease-in-out forwards; 
}

.banddesc {
  max-width: 270px;
}

/* update artist */

.form-control {
  width: 500px;
  height: 40px;
}

.updateArtist {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20em;
}

.text-area {
  height: 100px;
  max-height: 120px;
  min-height: 40px;
  margin-bottom: 30px;
}
.form-label {
  margin-top: 15px;
}
.buttonsubmitupdate {
  margin-left: 150px;
}

.editartist {
  text-shadow: 2px 2px 2px black;
}

/* create everything */

.createverything{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.createform {
  justify-content: center;
  align-items: center;
  width: 1600px;
  margin-bottom: 5em;
  margin-left: 43em;
}

.form-control{
  width: 300px;
}
.artistform {
  margin-top: -5em;
}

.eventform {
  width: 200px;
  margin-bottom: -10em;
}

.venueform {
  margin-top: -7em;
}

.createbutton{
  margin-right: 45em;
  margin-top: -20em;
}

.createformtitle {
  margin-bottom: -.5em;
}